<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G-stock</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    

    <link rel="stylesheet" href="../style.css">
    <script src="script.js"></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-light bg-dark">
        <a class="navbar-brand d-flex" href="/">
          <img src="../logo.png" width="w-100" height="100" alt="">
        </a>
        <div class="container d-flex justify-content-center align-content-center">
            <div class="row ">
                <h1 style="color: #fff; margin-right: 72px;">App Gestion stock</h1>
            </div>
        </div>
      </nav>

    <% if (messages.success) { %>
    <div class="alert alert-success" role="alert"><%- messages.success %></div>
    <% } %>

    <% if (messages.error) { %>
    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
    <% } %>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <h1 style="color: #fff;">Modifier une categorie</h1>
        </div>
    </div>
  
    <div class="container">
        <div class="row d-flex justify-content-center">
            <% test.forEach(function (produc) { %>
                <form method="POST" action="/updatedepartment/<%= produc.id %>" class="form">
                    <% }) %>
            <div class="form-group">
                <label>Nom du Categorie</label>
                <input placeholder="Categorie" name="categorie" class="input" id="nom" type="text">
            </div>
                      
            <div class="container d-flex justify-content-center">
                <input class="btn btn-success" type="submit" value="soumettre">
            </div>
        </form>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <a href="/rayon" style="margin-top:20px" class="btn btn-success">Categorie</a>
        </div>





</body>

</html>